### This project is a linear regression model that predicts house prices based on pre-cleaned data. With this model, users can input various features of a house such as the number of bedrooms, the square footage, and the location, and receive a predicted price based on those features.

In [4]:
#importing libraries and dataset

import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\Users\Andrei\Desktop\Data fo Data Science\house_prices.csv')

df

   House ID  Size (sq. m)  Location  Number of Rooms  Age (years)  Price (USD)
0         1        139.35     Urban                3           10       300000
1         2        204.38  Suburban                4            5       450000
2         3        167.22     Rural                3           20       250000
3         4        111.48     Urban                2           15       200000
4         5        232.26  Suburban                5            2       500000
5         6        185.81     Rural                4            8       350000
6         7        157.93     Urban                3           12       280000
7         8        176.51  Suburban                4            6       400000
8         9        148.64     Rural                3           18       230000
9        10        130.06     Urban                2           10       180000

In [5]:
# Creating one-hot encoded columns for the 'Location' column
dummies = pd.get_dummies(df['Location'])
df = pd.concat([df, dummies], axis=1)

# Removing the original 'Location' column
df = df.drop('Location', axis=1)

from sklearn.model_selection import train_test_split

# Splitting the data into training and testing sets
X = df.drop('Price (USD)', axis=1)
y = df['Price (USD)']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Training a linear regression model on the training set
model = LinearRegression()
model.fit(X_train, y_train)

# Evaluating the model on the testing set
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean squared error:', mse)
print('R2 score:', r2)

import math
avarage_error = round(math.sqrt(mse),1)

print('Avarage error:', avarage_error)

Mean squared error: 794919236.7766732
R2 score: 0.9343041953077129
Avarage error: 28194.3

#### The R2 score of the model is quite close to 1 which indicates the good fit of the model. The mean squared error shows that on avarage the model predicts prices with an error of around 28 thousand $.

In [6]:
# Exporting the model to the device

import joblib

joblib.dump(model, 'house_pricing_model.pkl')

['house_pricing_model.pkl']

#### Now this model can be launched onto a platform to make predictions from real-time data input. Most common platforms include Amazon Web Services, Microsoft Azure and Google Cloud Platform.